<?xml version="1.0" encoding="UTF-8"?>
<packages>
	<package id="nvm" version="1.1.5"/>
	<package id="firefox" version="97.0.2"/>
	<package id="googlechrome" version="99.0.4844.51"/>
	<package id="powertoys" version="0.56.1"/>
	<package id="steam-client" version="2.10.91.91"/>
	<package id="spotify" version="1.1.80.699"/>
	<package id="thunderbird" version="91.6.1"/>
	<package id="discord" version="1.0.9004"/>
	<package id="obsidian" version="0.13.24"/>
	<package id="whatsapp" version="2.2206.9"/>
	<package id="telegram" version="3.5.1"/>
	<package id="dropbox" version="142.4.4197"/>
	<package id="slack" version="4.24.0"/>
	<package id="razer-synapse-3" version="1.0.150.956"/>
	<package id="7zip" version="21.7"/>
	<package id="robo3t" version="1.4.4"/>
	<package id="vscode" version="1.65.0"/>
	<package id="qbittorrent" version="4.4.1"/>
	<package id="screentogif.install" version="2.36.0"/>
	<package id="paint.net" version="4.3.8"/>
	<package id="treesizefree" version="4.5.3"/>
	<package id="adobereader" version="2021.011.20039"/>
	<package id="vlc" version="3.0.16"/>
	<package id="git.install" version="2.35.1.2"/>
	<package id="notepadplusplus.install" version="8.3.2"/>
	<package id="nvidia-display-driver" version="511.79"/>
</packages>